body{
  text-align: center;
  font-family: calibri;
}

table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
}

input{
  text-align: center;
}

#contract{
  background-color: #D3D3D3;
}

.hidden{
  display: none;
}

input:invalid {
  border:2px solid red;
  box-shadow: 0 0 10px red;
}

#warning{
  color: red;
}
